//复选框
.checkbox{
	input[type=checkbox] {
		@extend %clip-hidden;
	}

	.ui-checkbox {
		@extend %ui-radio-un;
		border-radius: 4px;
		&::before {
			@extend %ui-radio-before;
			border-radius: 2px;
		}
	}

	:not(:disabled) + .ui-checkbox:hover {
		border-color: #ababaf;
	}

	:checked + .ui-checkbox::before {
		@extend %ui-checked;
	}

	:disabled + .ui-checkbox,.ui-checkbox.disabled {
		@extend %ui-disabled;
	}
}