.city-select{
	.city-input{@extend %icon-input;}
	.city-bd{
		display: inline-block;
	    border: 1px solid #e5e5e5;
	    border-radius: 4px;
	    background: #fff;
	    height: 290px;
    	overflow-y: auto;
    	margin-top: -1px;
    	position: absolute;
		.tab{
			line-height: 40px;
    		background: #f5f5f5;
    		li{
    			width: 33.1%;
    			text-align: center;
    			color: #2196f3;
    			cursor: pointer;
    		}
    		.line{
    			width: 1px;
    			color:#d2d2d2;
    		}
    		.active{
    			background: #fff;
    			color: #444;
    			font-weight: bold;
    			& + .line{
    				visibility: hidden;
    			}
    		}
		}
		.list{
			margin: 20px 20px 0;
			td{
				padding: 10px 20px;
				cursor: pointer;
				border:1px solid #fff;
				&:hover{
					background: #f5f5f5;
					border:1px solid #e5e5e5;
				}
			}
			.active{
				background: #2196f3;
			    border-radius: 4px;
			    color: #fff;
			}
			
		}
	}
}