%icon-input{
	@extend .row-auto;
	border: 1px solid #e5e5e5;
    border-radius: 4px;
    .date-icon{
    	border-right: 1px solid #e5e5e5;
    	i{
	    	padding: 11px;
	    }
    }
    input{
    	height: 36px;
	    border: 0;
	    outline: 0;
	    padding: 0 10px;
	    width: 100%;
		box-sizing: border-box;
    }
}
%picker-wrap-use{
	@extend %row;
	display: inline-block;
	margin-top: -1px;
    .date-bd{
    	@extend %col;

		// border-top: 1px solid #e5e5e5;
		// border-bottom: 1px solid #e5e5e5;
		// &:first-child {border-left: 1px solid #e5e5e5;}
		// &:last-child {border-right: 1px solid #e5e5e5;}

    	border: 1px solid #e5e5e5;
    	border-left: transparent;

		width: 314px;
	    background: #fff;
    	.date-head{
	    	@extend .row-auto;
	    	padding: 30px 18px 15px;
	    	font-size: 14px;
	    	.retreat,.next{
	    		@extend .col;
	    		cursor: pointer;
	    	}
	    	.year{ @extend .col-auto; }
	    	.next{ text-align: right; }
	    }
	    
	    .date-week,.date-days{
	    	@extend .row;
	    	padding: 0 32px;
			text-align: center;
			line-height: 36px;
			span{ @extend .col; }
	    }
	    .date-week{
	    	font-weight: bold;
	    	color: #c8c8c8;
	    	.week{ color: #ef5350;}
	    }
	    .date-days{
	    	margin-bottom: 5px;
	    	span{
	    		cursor: pointer;
	    		border-radius: 4px;
	    		&:hover{ background: #f5f5f5; }
	    		&.active{
		    		color: #fff;
		    		background: #2196F3;
		    	}
	    	}
	    	.pass,.future,.collect{ color:#c8c8c8; }
	    	
	    	.scope-bg{
	    		background: #f5f5f5;
	    		border-radius: 0;
	    	}
	    }
	    .date-btn{
	    	@extend .date-days;
	    	.today,.reset{ color: #2196F3; }
	    	.clear{ color: #F44336; }
	    	.today,.clear,.reset,.collect{
	    		&:hover{ background: transparent; }
	    	}
	    	.today,.clear{
	    		padding-bottom: 20px;
	    	}
	    }
    } 
    .date-bd:first-child{
    	border-left: 1px solid #e5e5e5;
    }
}

.picker-wrap{
	@extend %picker-wrap-use;
    .date-head{
    	.interstice{ @extend .col; }
    	.month{ @extend .col-auto; }
    	.month{ font-weight: bold; }
    	.interstice{ width: 16px; }
    }
}

// 日期默认样式
.date,.date-month{
	.date-input{ @extend %icon-input; }
	.picker-wrap{
		@extend %picker-wrap-use;
		// margin: -1px 0 0 39px;
    	position: absolute;
	}
}

// 日期默认样式——周
.date{
	.picker-wrap{
		@extend .picker-wrap;
		.date-head .year{ color: #c8c8c8; }
	}
}

// 日期默认样式——周——范围
.date-scope{
	@extend .date;
	.date-input{
		input{
			text-align: center;
			min-width: 100px;
		}
		.scope-icon{
			color: #26c6da;
		}
	}
	.date-btn{
		margin-top: 20px;
		border-top: 1px solid #e5e5e5;
		.reset,.collect{
			line-height: 44px;
		}
	}
}

// 日期默认样式——月
.date-month{
	.picker-wrap {
	    .date-head .year{ font-weight: bold; }
	    .date-days{ margin: 28px 0; }
	}
}
// 日期默认样式——年
.date-year{ @extend .date-month; }