// @import "./describe";
@import "./button";
@import "./input";

// @import "./checkbox";
@import "./radio";  //单选
@import "./checkbox";  //多选
@import "./switch";  //开关

// @import "./rules-introduce";
// @import "./form";
// @import "./errorinfo";

// @import "./step-title";
// @import "./no-data-desc";
// @import "./line-dotted";


@import "./paging"; //分页
@import "./toast"; //提示框
@import "./date"; //日期
@import "./tab-bor";  //tab导航-边框
@import "./tab-bg";  //tab导航-背景
@import "./dialog"; // 弹框公共样式
@import "./dialog-content"; // 内容弹框
@import "./dialog-icon"; // 内容弹框
@import "./table-striped";  //table（隔行添加背景色）
