@include b(KsPopoverEnter) {
	@extend .KsPopoverTop;
	display: inline-block;
	@include e(input) {
		@extend .row-auto;
		padding-top: 10px;
		input{ width: 100%; }
		button{
			height: 36px;
    		box-sizing: border-box;
    		i{ font-size: 12px; }
		}
	}
	@include e(btn-primary) { margin: 0 10px; }
	p{ color: #c8c8c8; }
}