%popover{
	background: #fff;
    border: 1px solid #e5e5e5;
    color: #444;
    padding: 10px 20px;
    max-width: 300px;
    h2{
    	font-size: 18px;
    }
    span::after{
		content: " ";
	    position: absolute;
	    border: 10px solid transparent;
    }
}
.popover-top,.popover-bottom,.popover-left,.popover-right{
	@extend %tooltip;
	@extend %popover;
}
.popover-top span,.popover-bottom span{
	transform: translate(-50%);
	left: 50%;
	&::after{
	    left: -10px;
	}
}
.popover-top{
    margin-bottom: 10px;
	span{
	    border-top: 10px solid #e5e5e5;
    	bottom: -20px;
    	&::after{
		    border-top: 10px solid #fff;
		    top: -12px;
    	}
	}
}
.popover-bottom{
    margin-top: 10px;
	span{
	    border-bottom: 10px solid #e5e5e5;
    	top: -20px;
    	&::after{
		    border-bottom: 10px solid #fff;
		    top: -8px;
    	}
	}
}
.popover-left span,.popover-right span{
    transform: translate(0,-50%);
    top: 50%;
	&::after{
	    transform: translate(0,-50%);
	    top: 50%;
	}
}
.popover-left{
    margin-right: 10px;
	span{
	    border-left: 10px solid #e5e5e5;
	    right: -20px;
    	&::after{
		    border-left: 10px solid #fff;
		    right: -8px;
    	}
	}
}
.popover-right{
    margin-left: 10px;
	span{
	    border-right: 10px solid #e5e5e5;
	    left: -20px;
    	&::after{
		    border-right: 10px solid #fff;
		    left: -8px;
    	}
	}
}