//单选框
%clip-hidden{
	position: absolute;
	clip: rect(0,0,0,0); /* IE8+ */
	*left: -999px;
}
%ui-radio-un{
	display: inline-block;
	width: 20px;
	height: 20px;
	border: 1px solid rgba(208, 208, 213, 1);  /* IE7-IE8 ignore this */
	background-color: #fff;
	box-sizing: border-box;
	vertical-align: -.5ex;
	*vertical-align: 0;
	-webkit-transition: border-color .2s;
    transition: border-color .2s;
	overflow: hidden;
}
%ui-radio-before{
	content: '';
	display: block;
	width: 10px;
	height: 10px;
	margin: 4px auto 0;
	background-color: #00a5e0;
	visibility: hidden;
}
%ui-checked{
	visibility: visible;
	-webkit-animation: bounceIn .2s;
	animation: bounceIn .2s;
}
%ui-disabled{
	border-color: #ababaf;
	opacity: .38;
}
.radio{
	input[type=radio] {
		@extend %clip-hidden;
	}

	.ui-radio {
		@extend %ui-radio-un;
		border-radius: 20px;
		&::before {
			@extend %ui-radio-before;
			border-radius: 10px;
		}
	}

	:not(:disabled) + .ui-radio:hover {
		border-color: #ababaf;
	}

	:checked + .ui-radio::before {
		@extend %ui-checked;
	}

	:disabled + .ui-radio,.ui-radio.disabled {
		@extend %ui-disabled;
	}
}