.rules-introduce {
    @extend .row-auto;
    border-spacing: 20px;
    background-color: #f3f3f3;
    border-radius: 3px;
    border: 1px solid #e0e0e0;
    /*padding: 20px;*/

    /*.rules-info {
        @extend .col;
        padding-right: 10px;        
    }*/
}