// 下拉的列表
.select{
	%select-lh{
		height: 34px;
    	line-height: 34px;
    	padding: 0 10px;
	}
	%select-bor{
		border: 1px solid #c8c8c8;
		border-radius: 3px;
	}
	display: inline-block;
	font-size: 0;
	.select-hd,.select-bd{
		font-size: 13px;
	}
	.select-hd{
		@extend .row-auto;
		@extend %select-lh;
		@extend %select-bor;
    	cursor: pointer;
	}
	.select-bd{
		@extend %select-bor;
		margin-top: -1px;
		.select-list{
			max-height: 204px;
			overflow-y: auto;
			li{
				@extend %select-lh;
				cursor: pointer;
				&:hover{
					background: #f5f5f5;
				}
			}
			.active,.active:hover{
				background: #2196f3;
				color: #fff;
			}
		}
		// 搜索框
		.search{
		    margin: 10px;
		    .row-auto{
		    	@extend %select-bor;
		    	input{
		    		@extend .col;
		    		outline: 0;
		    		border:0;
		    	}
		    }
		    .row-auto,.row-auto input{
		    	@extend %select-lh;
		    }
		}
	}
}