%tab-bor-default{
	li{
	    padding: 12px 44px;
	    a{
	    	font-size:1.38em;
	    	color: #444;
	    }
	}
	.active{
	    background-color: #fff;
	    font-weight: bold;
	}
}
// 横排
.tab-bor{
	@extend %tab-bor-default;
	margin-left: -1px;
	border-bottom: 1px solid #E9E9E9;
	li{
	    margin-bottom: -2px;
	    display: inline-block;
	}
	.active{
		border-top: 3px solid #2196F3;
	    border-right: 1px solid #E9E9E9;
	    border-left: 1px solid #E9E9E9;
	}
} 

// 竖排
.tab-bor-vertical{
	@extend %tab-bor-default;
	display: inline-block;  
	border-right: 1px solid #E9E9E9; 
	li{
	    margin-right: -2px;  
	}
	.active{
	    border-left: 3px solid #2196F3;
	    border-top: 1px solid #E9E9E9;  
	    border-bottom: 1px solid #E9E9E9;  
	}
} 