.tab-bor{
	border-bottom: 1px solid #E9E9E9;
	margin-left: -1px;
	li{
	    margin-bottom: -2px;
	    display: inline-block;
	    padding: 12px 44px;
	    a{
	    	font-size:1.38em;
	    	color: #444;
	    }
	}
	.active{
		border-top: 3px solid #2196F3;
	    border-right: 1px solid #E9E9E9;
	    border-left: 1px solid #E9E9E9;
	    background-color: #fff;
	    font-weight: bold;
	}
} 
