/* 自动隐现提示框 */
	.toast{
	    padding: 20px;
	    border-radius: 4px;
	    width: 300px;
	    color: #fff;
		h2{
			font-size: 20px;
			margin-bottom: 15px;
    		font-weight: bold;
		}
	}
	.toast-primary{
		@extend .toast;
		background: #2196F3;
	}
	.toast-success{
		@extend .toast;
		background: #4CAF50;
	}
	.toast-info{
		@extend .toast;
		background: #00BCD4;
	}
	.toast-danger{
		@extend .toast;
		background: #F44336;
	}
	.toast-warning{
		@extend .toast;
		background: #FF5722;
	}

	/* 可操作提示框 */
	.toast-close{
		border-radius: 4px;
		line-height: 50px;
		box-sizing: border-box;
		padding:0 20px;
		width: auto;
		i{
			padding-left: 20px;
			font-size: 12px;
		}
	}
	.toast-close-primary{
		@extend .toast-close;
		background: #e2f2fe;
		border:1px solid #b0daf9;
		p{
			color: #094b94;
		}
		i{
			color: #638ebf;
		}
	}
	.toast-close-warning{
		@extend .toast-close;
		background: #fff6b1;
		border:1px solid #ffe378;
		p{
			color: #444444;
		}
		i{
			color: #ce8161;
		}
	}
	.toast-close-danger{
		@extend .toast-close;
		background: #fbe9e7;
		border:1px solid #ffc9c3;
		p{
			color: #9c3431;
		}
		i{
			color: #c4706d;
		}
	}
	.toast-close-info{
		@extend .toast-close;
		background: #dff7fa;
		border:1px solid #abe6ee;
		p{
			color: #045962;
		}
		i{
			color: #58959c;
		}
	}
	.toast-close-success{
		@extend .toast-close;
		background: #e8f5e9;
		border:1px solid #aeeab3;
		p{
			color: #538356;
		}
		i{
			color: #6eab73;
		}
	}
	.toast-close-Violet{
		@extend .toast-close;
		background: #f3e5f5;
		border:1px solid #e7afef;
		p{
			color: #6b0f9c;
		}
		i{
			color: #a269c0;
		}
	}