%tooltip{
	display: inline-block;
	position: relative;
	background: #444;
	padding: 7px 18px;
	border-radius: 4px;
	color: #fff;
	span{
		border: 10px solid transparent;
	    width: 0;
	    height: 0;
	    display: block;
	    margin: 0 auto;
	    position: absolute;
	}
}
.tooltip-top,.tooltip-bottom,.tooltip-left,.tooltip-right{
	@extend %tooltip;
}
.tooltip-left{
	margin-right: 20px;
	span{
	    border-left: 10px solid #444;
	    right: -20px; 
    	top: 8px; 
	}
}
.tooltip-right{
	margin-left: 20px;
	span{
	    border-right: 10px solid #444;
	    left: -20px; 
    	top: 8px; 
	}
}
.tooltip-top span,.tooltip-bottom span{
    left: 50%;
    transform: translate(-50%);
}
.tooltip-top{
	margin-bottom: 10px;
	span{
	    border-top: 10px solid #444;
	    bottom: -20px;
	}
}
.tooltip-bottom{
	margin-top: 10px; 
	span{
	    border-bottom: 10px solid #444; 
	    top: -20px;
	}
}