%tooltip{
	display: inline-block;
	position: relative;
	background: #444;
	padding: 7px 18px;
	border-radius: 4px;
	color: #fff;
	span{
		border: 10px solid transparent;
	    width: 0;
	    height: 0;
	    display: block;
	    margin: 0 auto;
	    position: absolute;
	}
}
%tooltip-top-bottom{
	left: 50%;
    transform: translate(-50%);
}
@include  b(Ks-tooltip-left) {
	@extend %tooltip;
	margin-right: 20px;
	span{
	    border-left: 10px solid #444;
	    right: -20px; 
    	top: 8px; 
	}
}
@include b(Ks-tooltip-right) {
	@extend %tooltip;
	margin-left: 20px;
	span{
	    border-right: 10px solid #444;
	    left: -20px; 
    	top: 8px; 
	}
}
@include b(Ks-tooltip-top) {
	@extend %tooltip;
	margin-bottom: 10px;
	span{
		@extend %tooltip-top-bottom;
	    border-top: 10px solid #444;
	    bottom: -20px;
	}
}
@include b(Ks-tooltip-bottom) {
	@extend %tooltip;
	margin-top: 10px; 
	span{
		@extend %tooltip-top-bottom;
	    border-bottom: 10px solid #444; 
	    top: -20px;
	}
}