%icon-input{
	@extend %ks-row-auto;
	background: #fff;
	border: 1px solid $bor-color;
    border-radius: 4px;
    .date-icon{
    	border-right: 1px solid $bor-color;
    	i{ padding: 11px; }
    }
    input{
    	height: 36px;
	    border: 0;
	    outline: 0;
	    padding: 0 10px;
	    width: 100%;
		box-sizing: border-box;
		background: transparent;
    }
}
%date-week{
	@extend %ks-row;
	padding: 0 32px;
	text-align: center;
	line-height: 36px;
	span{ @extend %ks-col; }
}
%date-days{
	@extend %date-week;
	padding-bottom: 5px;
	span{
		cursor: pointer;
		border-radius: 4px;
		&:hover{ background: #f5f5f5; }
		&.active{
    		color: #fff;
    		background: #2196F3;
    	}
	}
	.pass,.future,.collect{ color:#c8c8c8; }
	.scope-bg{
		background: #f5f5f5;
		border-radius: 0;
	}
}
%picker-wrap-use{
	@extend %ks-row;
	display: inline-block;
	margin-top: -1px;
    _date{
    	@extend %ks-col;
    	border: 1px solid $bor-color;
    	border-left: transparent;
		width: 314px;
	    background: #fff;
    	_head{
	    	@extend %ks-row-auto;
	    	padding: 30px 18px 15px;
	    	font-size: 14px;
	    	.retreat,.next{
	    		@extend %ks-col;
	    		cursor: pointer;
	    	}
	    	.year{ @extend %ks-col-auto; }
	    	.next{ text-align: right; }
	    }
	    _week{
	    	@extend %date-week;
	    	font-weight: bold;
	    	color: #c8c8c8;
	    	.week{ color: #ef5350;}
	    }
	    _days{ @extend %date-days; }
	    _btn{
	    	@extend %date-days;
	    	.today,.reset{ color: #2196F3; }
	    	.clear{ color: #F44336; }
	    	.today,.clear,.reset,.collect{
	    		&:hover{ background: transparent; }
	    	}
	    	.today,.clear{ padding-bottom: 20px; }
	    }
    } 
    _date:first-child{ border-left: 1px solid $bor-color; }
}
%picker-wrap{
	@extend %picker-wrap-use;
	width: auto;
    _date-head{
    	.interstice{ 
    		@extend %ks-col; 
    		width: 16px;
    	}
    	.month{ 
    		@extend %ks-col-auto; 
    		font-weight: bold; 
    	}
    }
}
%date-month{
	_input{ @extend %icon-input; }
	.KsDater{ position: absolute; }
}
%date{
	@extend %date-month;
	.KsDater{
		@extend %picker-wrap;
		_head .year{ color: #c8c8c8; }
	}
}
.KsDater{ @extend %picker-wrap; }
.KsDaterMulti{ @extend %picker-wrap; }



// 日期默认样式——周
.KsDatePicker{ @extend %date; }

// 日期默认样式——周——范围
.KsDateScope{
	@extend %date;
	_input{
		input{
			text-align: center;
			min-width: 100px;
		}
		.scope-icon{ color: #26c6da; }
	}
	_btn{
		margin-top: 20px;
		border-top: 1px solid $bor-color;
		.reset,.collect{
			line-height: 44px;
			height: 44px;
		}
	}
}

// // 日期默认样式
// .date-month{ @extend %date-month; }
// 日期默认样式——月
%KsDateMonth{
	@extend %date-month; 
	.KsDater {
	    _date-head .year{ font-weight: bold; }
	    _days{ margin: 28px 0; }
	}
}
.KsDateMonth{@extend %KsDateMonth;}
// 日期默认样式——年
.KsDateYear{ @extend %KsDateMonth; }
// 日历组件 只读

.readonly.KsDatePicker {
	.KsDatePicker {
		_input{ background: #e9e9e9; }
	}
	.KsDater {
		_date{
			background: #f5f5f5;
			padding-bottom: 20px;
			_days{
				span{
					pointer-events: none;
					color:#c8c8c8;
					&.begin-active,&.end-active,&.active{
			    		background: #777;
			    		border-radius: 0;
			    		color: #fff;
			    	}
				}
				_btn{
					padding: 0;
					.reset,.collect{
						padding: 0 32px 5px;
						pointer-events: none;
					}
					.reset{
						text-align: left;
						padding-left: 42px;
					}
					.collect{
						border-left: 8px solid #f5f5f5;
		    			margin-left: -5px;
		    			display: block;
					}
				}
			}
		}
	}
}