//%icon-input：带图标的输入框 在date.scss中
@import '../common/icon-input';
// %select-bor // %select-hd：带图标的输入框 // %select-bd：下拉列表样式
@import '../common/select';

.KsTime {
	// background: red;
	_input {
		@extend %icon-input;
		.date-icon{ border-right: transparent; }

		_select {
			width: 86px;
			_hd {
				@extend %select-hd;
				border-radius: 0;
			    border-top: 0;
			    border-bottom: 0;
			    height: 36px;
			    line-height: 36px;
			}
			_bd {
				@extend %select-bd;
				width: 84px;
				margin-top: 0;
				@extend %select-bor;

			}
		}
	}
	_content {
		@extend %select-bd;
		display: block;
		margin-left: 124px;
	}
}