// @description 一个单选框样式
// @summary 我只是一个单纯的单选框,
//          风格是类似按钮那种
// @author pkeros
// @date 2016/10/14

//
// 需要的 DOM 结构
//
//<div class="KSBtnRadio KSBtnRadio__entity--ZERO">
//  <input type="checkbox" class="KSBtnRadio__entity" id="KSBtnRadio__entity--3">
//  <label class="KSBtnRadio__text" for="KSBtnRadio__entity--ZERO"></label>
//</div>
//
//

@import "../../styles/variables";
@import "../../styles/sassMagic/_sassMagic";

$primary-color: nth($primarys, 2);                              // 主色调
$primary-border-color: nth($darks, 3);                          // 主边框色调
$skin-size: 18px;                                               // 选择框大小

@include b(KSBtnRadio) {
  position: relative; display: inline-block;
  vertical-align: middle; font-size: 14px;

  @include e(entity) {
    display: none;

    // radio 下的选择框样式
    &:checked + .KSBtnRadio__text {
      z-index: 1;
      color: $primary-color; border-color: $primary-color;
    }
    // radio 禁用样式
    &[disabled] + .KSBtnRadio__text {
      color: nth($darks, 2);
      background: nth($grays, 2);
      cursor: not-allowed;

      // 重置 hover 字体颜色
      &:hover { color: nth($darks, 2) }
    }
  }

  @include e(text) {
    position: relative; display: inline-block;
    min-width: 42px;
    padding: 6px 10px; border: 1px solid $primary-border-color;
    text-align: center;
    user-select: none; cursor: pointer;

    // hover 效果
    &:hover {
      color: nth($primarys, 3);
    }
  }

  // 第一个 radio button 样式
  &:first-child .KSBtnRadio__text {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }
  // 最后一个 radio button 样式
  &:last-child .KSBtnRadio__text {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }
  // 去除间隔线
  &:not(:last-child) .KSBtnRadio__text {
    margin-right: -1px;
  }
}
