@import "./tb";
@import "./ib";


%ks-col-top {
    @extend %tb-cell;
    vertical-align: top;
}
%ks-col-auto-top {
    @extend %ks-col-auto;
    vertical-align: top;
}
%ks-row-auto{
    @extend %ks-row;
    table-layout: auto;
}
%ks-col-auto{
    @extend %tb-cell;
    width: 1px;
    white-space: nowrap;
}
%ks-row{
    @extend .tb;
}
%ks-col{
    @extend %tb-cell;
}
.ks-row-auto{
    @extend %ks-row-auto;
}
.ks-col-auto{
    @extend %ks-col-auto;
}
.ks-row{
    @extend %ks-row;
}
.ks-col{
    @extend %ks-col;
}