@import "./tb";
@import "./ib";

.row {

    @extend .tb;
    .col {
        @extend .tb-cell;
    }

    .col-top {
        @extend .tb-cell;
        vertical-align: top;
    }
    
    
}

.row-auto {

    @extend .row;
    table-layout: auto;
    .col-auto{
        @extend .tb-cell;
        width: 1px;
        white-space: nowrap;
    }
    .col-auto-top {
        @extend .col-auto;
        vertical-align: top;
    }
    
}


