// 引入 hightlight 语法高亮样式
@import "~highlight.js/styles/github-gist.css";

blockquote {
  padding: 0 1em!important; color: #777;
  border-left: 0.25em solid #ddd;
}

hr {
  height:1px;border:none;border-top:1px dashed #d8d8d8;
  margin: 10px 0!important;
}

.ks-code-inline {
  background-color: #f9fafc;
  border: 1px solid #eaeefb;
  border-radius: 4px;
  padding: 0 3px;
}

.ks-hljs {
  line-height: 1.8;
  font-family: Menlo,Monaco,Consolas,Courier,monospace;
  padding: 16px;
  margin: 20px 0;
  font-size: 12px;
  background-color: #f9fafc;
  border: 1px solid #eaeefb;
  border-radius: 4px;
  -webkit-font-smoothing: auto;
}
