/**
 * @author: pkeros.
 * @date: 2016/6/6.
 * @mail: pkeros@vip.qq.com
 * @see: https://www.github.com/pkeros/
 */

// *** 全局字体配置
$base-font-size: 13px;
$base-line-height: 1.7;
$base-font-family: PingFangSC-Regular, microsoft yahei , Arial , sans-serif;
$base-color: #444;
$base-disable-color: #C8C8C8;

// *** 颜色配置
/* h1 ~ h6 字体大小 */
$font-sizes:(1:30px, 2:24px, 3:18px, 4:16px, 5:14px, 6:12px);

/*
	颜色
	primary danger info warning dark gray
*/
$primarys: (#1E88E5 #2196F3 #2196f3); /* 颜色修改 */
$successes: (#43A047 #4CAF50 #66BB6A);
$infos: (#00ACC1 #00BCD4 #26C6DA);
$dangers:	(#E53935 #F44336 #EF5350);
$warnings: (#F4511E #FF5722 #FF7043);
$darks: (#444444 #777777 #999999 #C8C8C8);
$grays: (#E9E9E9 #F5F5F5 #FCFCFC);

$global-colors:(
  primary: $primarys,
  success: $successes,
  info: $infos,
  danger: $dangers,
  warning: $warnings,
  dark: $darks,
  gray: $grays
);

$z-index: 19940921;

// *** 全局颜色配置
$global-main-normal: #36474f;
$global-main-dark: #1E88E5;
$global-main-light: #42A5F5;

$global-success-normal: #4CAF50;
$global-success-dark: #43A047;
$global-success-light: #66BB6A;

$global-info-normal: #00BCD4;
$global-info-dark: #00ACC1;
$global-info-light: #26C6DA;

$global-danger-normal: #F44336;
$global-danger-dark: #E53935;
$global-danger-light: #EF5350;

$global-warn-normal: #FF5722;
$global-warn-dark: #F4511E;
$global-warn-light: #FF7043;

$global-text-normal: #444;
$global-text-light: #777;
$global-text-x-light: #999;
$global-text-xx-light: #C8C8C8;

$global-background-normal: rgba(233, 233, 233, 0.7);
$global-background-dark: rgba(245, 245, 245, .7);
$global-background-light: rgba(254, 254, 254, 0.7);

// *** 模块间隔
$global-item-space: 20px;

// *** header 高度
$global-header-height: 50px;
$global-header-mcolor: #FFF;

// *** menu 部分
$global-menu-width: 260px;
$global-menu-item-height: 45px;
$global-menu-icon-size: 16px;
$global-menu-bgcolor: #FFFFFF;
$global-menu-lightColor: #253238;

// *** footer 部分
$global-footer-height: 50px;

// *** 模块间隔
$module-space: 20px;

// *** 其他重要变量
$header-height: 50px;
$footer-height: 50px;
$menu-width: 260px;
$menu-height: 46px;
$footer-height: 50px;
