// 带图标的输入框
%icon-input{
	@extend %ks-row-auto;
	background: #fff;
	border: 1px solid $bor-color;
    border-radius: 4px;
    .date-icon{
    	border-right: 1px solid $bor-color;
    	i{ padding: 11px; }
    }
    input{
    	height: 36px;
	    border: 0;
	    outline: 0;
	    padding: 0 10px;
	    width: 100%;
		box-sizing: border-box;
		background: transparent;
    }
}