//
// @description 对话框样式.
// @author: pkeros.
// @date: 2016/10/18.
//

@import "../../styles/sassMagic/_sassMagic";
@import "../../styles/variables";
@import "../../styles/common/transtionEffect/zoom";

$width: 402px;                                                          // 模态宽度
$icon-size: 88px;                                                       // 图标大小

@include b(KSDialog) {
  position: fixed!important;
  margin: 6px auto; width: $width;
  box-shadow: 0 0 9px #B3B3B3; border-radius: 2px;
  background: #FFF;

  @include center-translate();
  @include e(wrapper) {
    position: relative; z-index: 19941026;
  }

  // 标题部分
  @include e(title) {
    margin: 0; padding: 20px 40px 20px 0;
    font-size: 24px;
  }

  // 内容块
  @include e(content) {
    color: #444; font-size: 13px; line-height: 22px;
  }

  // footer
  @include e(footer) {
    overflow: hidden;
  }

  @include e(btnWarp) { text-align: center }
}
