// @description 一个单选框样式
// @summary 我只是一个单纯的单选框
// @author pkeros
// @date 2016/10/14

//
// 需要的 DOM 结构
//
//<div class="KSNRRadio KSNRRadio__entity--ZERO">
//  <input type="checkbox" class="KSNRRadio__entity" id="KSNRRadio__entity--3">
//  <label class="KSNRRadio__skin" for="KSNRRadio__entity--ZERO"></label>
//  <label class="KSNRRadio__text" for="KSNRRadio__entity--ZERO"></label>
//</div>
//
//

@import "../../styles/variables";
@import "../../styles/sassMagic/_sassMagic";

$primary-color: #00A5E0;                                        // 主色调
$skin-size: 18px;                                               // 选择框大小

@include b(KSNRRadio) {
  position: relative;
  display: inline-block; padding: 2px 3px;
  vertical-align: middle; font-size: 14px;

  @include e(entity) {
    display: none;

    // checked 下的选择框样式
    &:checked + .KSNRRadio__skin:before {
      opacity: 1;
    }
    // checked 禁用样式
    &[disabled] + .KSNRRadio__skin {
      cursor: not-allowed;
      background: rgba(77, 77, 77, .1)
    }
    &[disabled] + .KSNRRadio__skin:before {
      opacity: .6;
    }
  }

  @include e(text) {
    display: inline-block;
    user-select: none; cursor: pointer;
  }

  @include e(skin) {
    display: inline-block;
    border: 1px solid #D0D0D5; border-radius: 50%;
    width: $skin-size; height: $skin-size;
    text-align: center; line-height: $skin-size;
    cursor: pointer;

    // 选择点的样式
    &:before {
      content: ''; display: inline-block;
      height: $skin-size / 1.8; width: $skin-size / 1.8;
      border-radius: 50%;
      background-color: $primary-color;
      opacity: 0;
      transition: opacity .3s;
    }
  }
}
