//
// @description: 一个效果 CSS 文件
// @summary: 只有透明度的变化而已
// @author: pkeros.
// @date: 2016/10/21.
//

@import "../../sassMagic/_sassMagic";

.Fade-transition {
  backface-visibility: hidden;
  will-change: opacity;
}

.Fade-enter {
  // FadeIn
  @include animation (
      (
        animationName: zoomIn,
        keyframes: (
          0: ( opacity: 0 ),
          100: ( opacity: .3 )
        ),
        duration: .3,
        timingFunction: ease,
        iterationCount: 1
      )
  );
}

.Fade-leave {
  // FadeOut
  @include animation (
      (
        animationName: zoomOut,
        keyframes: (
          0: ( opacify: .3 ),
          100: ( opacity: 0 )
        ),
        duration: .3,
        timingFunction: ease,
        iterationCount: 1
      )
  );
}

